#main-doc{
    width: 80%;
    float: right;
    display: block;
}

#navbar{
    float: left;
    position: relative;
    text-align: center;
    display: block;
  
}
header{
    font-size: 25px;
}
a{
    font-size: 14px;
}
@media (min-width: 1024px) { }
