#navbar{
    position: fixed;
    scroll-behavior: auto;
    height: 100vh;
    width: 30vw;
    float: left;
}
#cuerpo-pagina{
    display: flex;
align-items: stretch;
}
#div-main{
    margin-left:260px;
    float: right;
}